@import url('https://fonts.cdnfonts.com/css/pp-pangaia');

* {
    font-family: 'PP Pangaia', sans-serif;
    box-sizing: border-box;
}

body 
{
    background-color: #fffaf4;
    margin: 0;
    padding: 90px;
    color: #000;
}

.container
{
    max-width: 600px;
    display: grid;
    border: 3px outset crimson;
    background-color: antiquewhite;
    border-radius: 5%;
    padding: 20px; 
    justify-content: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}