@import url('https://fonts.cdnfonts.com/css/pp-pangaia');

* {
    font-family: 'PP Pangaia', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #fffaf4;
    margin: 0;
    padding: 90px;
    color: #000;
}

.container {
    max-width: 600px;
    display: grid;
    border: 3px outset crimson;
    background-color: antiquewhite;
    border-radius: 5%;
    padding: 20px; 
    justify-content: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

/* --- ESTILO DO DROPDOWN --- */
.custom-select-container {
    position: relative;
    width: 100%;
}

.select-selected {
    background-color: #fff;
    border: 2px solid crimson;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 50px;
}

.select-items {
    position: absolute;
    background-color: #fff;
    border: 2px solid crimson;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 400px; 
    overflow-y: auto;
    display: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.select-items.show {
    display: block;
}

.select-item {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: center; 
    align-items: center;
    transition: background-color 0.2s;
}

.select-item:hover {
    background-color: #ffe6e6;
}

/* Imagens na lista */
.option-img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Imagem selecionada (Preview) */
.preview-img {
    max-width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: contain;
    border-radius: 5px;
    display: block;
}